@media (min-width: 992px) {
  #info_footer {
    flex-flow: row !important;
    justify-content: space-around;
    align-items: flex-start;
  }
}

#info_footer div {
  padding-top: 30px;
}


#info_footer a:hover {
  color: #be0761;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.fa.fa-facebook-square {
  font-size: 17px;
}

#redes a {
  padding-top: 10px;
}
