<div id="container">
    <div class="integrante"  *ngFor="let persona of personas" >
        <div class="supercontainer" *ngIf="persona['email']==profile">
        <div class="data">
            <img src="../../assets/img/{{persona['ruta_foto']}}" alt="Profile" class="pictureP">
            <h3>{{persona["nick"]}}</h3>
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td class="renglon">{{persona["name"]}} </td>
                </tr>
                <tr>
                    <td>Main Champion:</td>
                    <td class="renglon">{{persona["main"]}}</td>
                </tr>
                <tr>
                    <td>Rango:</td>
                    <td class="renglon">{{persona["rango"]}}</td>
                </tr>
                <tr>
                    <td>División:</td>
                    <td class="renglon">{{persona["division"]}}</td>
                </tr>
                <tr>
                    <td>Edad:</td>
                    <td class="renglon">{{persona["edad"]}}</td>
                </tr>
            </table>
        </div>
        <div class="clip">
            <iframe [src]="persona['ruta_video']" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
    </div>
</div>