<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><img src="assets/img/apex-logo.png" style="width: 3rem;margin-right: 2rem;"><a class="navbar-brand" href="#">ShURIMA</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">integrantes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Patrocinadores</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" id="registrate" href="#">¡REGÍSTRATE!</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    <footer class="d-flex justify-content-start py-5 bg-black">
        <div class="container d-flex flex-column align-items-center" id="info_footer">
            <div class="text-start d-flex d-lg-flex flex-column align-items-center justify-content-lg-center align-items-lg-start">
                <p class="text-center text-white m-0 small" style="padding-bottom: 10px;">Damián Magaña Raúl de Jesús&nbsp;</p>
                <p class="text-center text-white m-0 small">Gómez Santiago&nbsp;Diego&nbsp;<br></p>
            </div>
            <div class="text-center d-flex flex-column justify-content-center align-items-start" id="redes"><a href="https://www.instagram.com/playapex/"><i class="fa fa-instagram"></i>&nbsp; &nbsp;Instagram</a><a href="https://www.facebook.com/playapex"><i class="fa fa-facebook-square"></i>&nbsp; &nbsp;Facebook</a><a href="#"><i class="fa fa-envelope"></i>&nbsp; &nbsp;shurima@gmail.com</a></div>
            <div>
                <p class="text-center text-white d-lg-flex align-items-lg-center m-0 small">Copyright&nbsp;© UNICA 2022</p>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>